<div class="modal fade" id="{{ id|default:'modal' }}" tabindex="-1" aria-labelledby="{{ id|default:'modal' }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id|default:'modal' }}Label">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">{{ content }}</div>
            {% if footer %}
            <div class="modal-footer">{{ footer }}</div>
            {% endif %}
        </div>
    </div>
</div>
